body{
    margin: 0;
    padding: 0;
    background-color:#b3cae4;
    background-size:cover;
    background-position: center;
    height: 100vh;
}
.hero-head,
.hero-body{
    background-color:#567bac;
    /* background-color:#b3cae4; */
}
.tabs{
    background-color: #121212;
}
