body{
    margin: 0;
    padding: 0;
    background-color:#b3cae4;
    background-size:cover;
    background-position: center;
    
}

.hero-body,
.hero-head{
    background-color:#567bac;
    height: 150px;
}

.is-active{
    color:black;
}

.tabs{
    background-color:#121212;
}

.hide{
    display:none;
}

.show{
    display:block;
}
/* project navbar css begins */
#projectsNavbar{
right: 80px;
bottom: 275px;
border-radius: 5px;
position: relative;
width: 110px;
}

#projNavbarHover{
border-radius: 5px;
}
/* project navbar css ends */

/* skills pages begins */


progress{
    max-width: 750px;
}

#skillsContainer
{
    position: relative;
    bottom: 75px;
}
#progressHeader{
    padding: 15px;
}

/* skills pages ends */

/* UPENN Project gallery begins */
#myWork {
    top: 250px;
    padding: 12px;
  }

.uPennContainer{
    bottom: 200px;
    position: relative;
}

  .section-dark.my-work .work-item {
    margin-bottom: 1rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
  }
  
   .work-item:hover {
    -webkit-transform: scale(1.055) translateY(-2px);
    transform: scale(1.055) translateY(-2px);
    -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
    box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  }
  
/* Footer css begins */

#footer{
    height: 25px;
    background-color: #121212;
}

/* Below are the media queries so that the website is responsive to difference sizes. */
@media screen and (min-width: 480px){
    
}
@media screen and (min-width: 900px){

}
@media screen and (min-width: 1200px){
    
}