body{
    margin: 0;
    padding: 0;
    background-color:#b3cae4;
    background-size:cover;
    background-position: center;
    
}

.hero-body,
.hero-head{
    background-color:#567bac;
    height: 150px;
}

.is-active{
    color:black;
}

.tabs{
    background-color:#121212;
}

.hide{
    display:none;
}

.show{
    display:block;
}

#projectsNavbar{
right: 80px;
bottom: 285px;
border-radius: 5px;
position: relative;
width: 110px;
}
#projNavbarHover{
border-radius: 5px;
}
#footer{
    height: 25px;
    background-color: #121212;
}

/* Below are the media queries so that the website is responsive to difference sizes. */
@media screen and (min-width: 480px){
    
}
@media screen and (min-width: 900px){

}
@media screen and (min-width: 1200px){
    
}