* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

body {
    background-color: #bed1e6;
}

.content{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 15px;
}

main{
    /* display: flex;
    flex-wrap: wrap; */
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

header {
    padding: 40px;
    font-family:'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: 10px;
    color:white;
}
header h1{
    display: inline-block;
    font-size: 35px;
    color: #485785;
}
/* makes the LH for header one black instead of white*/
header h1 .L,
header h1 .H{
color:black;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 15px;
    font-family:'Quattrocento Sans', sans-serif ;
    /* justify-content: space-between; */
}

header nav ul{
    list-style-type: none;
} 

header nav ul li{
    /* position:relative; */
    display: inline-block;
    margin-left: 25px;

}

h2{
    font-family: 'Quattrocento Sans', sans-serif;
}

hr{
    display: block;
    margin-top: 0;
    margin: auto;
    color: rgba(0,0,0,0.15);
    text-align: center;
}

.float-left{
    float:left;
    margin-right: 15px;

}

a{
    color:#485785;
    text-decoration:underline;

}

p{
    font-size: 20px;
    overflow-wrap: break-word;
    text-align: none;
    padding: 20px;
}

#about-me img{
    display:block;
    margin-left: auto;
    height: 300px;
    width: 300px;
    padding: 12px;
    border: 10px solid rgb(115, 165,168);
    border-radius: 52%
}

#my-work img
{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    border: 2px solid rgb(115, 165,168);
    border-radius: 6px;
}

#about-me{
    margin-top: 20 px;
    margin-bottom: 200px;
    padding: 10px;
    height: 550px;
    font-family:none;
}

#my-work {
    margin-top: 20px;
    margin: bottom 200px;
    padding: 15px 20px;
}
.hide{
    display: none;
}
#firstphoto:hover + .hide{
    display: block;
    color: red;
}

.container{
    position: relative;
    text-align: center;
    color: red;
}
.project-one{
    /* Look this up */
    position: absolute; 
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#contact-info {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    height: 400px;
    font-family:none;
}
/* making the interactive contact area more clean looking */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(115, 165, 168);
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 20 px;
}

footer{
    display: block;
    padding: 40px;
    font-family:'Quattrocento Sans', sans-serif;
    text-align: center;
}

/* Colour scheme:
-blue 
-grey  
-black 
-aquamarine */

